body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-writing-mode:vertical-rl;
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.基本グラフィックフレーム {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.基本テキストフレーム {
	border-style:solid;
}
p.基本段落 {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Kozuka Mincho Std R", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.基本段落 rt {
	-epub-ruby-position:over;
}
p.こぶりなｗ３　13Q {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:74px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.こぶりなｗ３　13Q rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	color:#000000;
	font-size:0.577em;
}
p.こぶりなｗ３　15Q {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:1.154em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:74px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.こぶりなｗ３　15Q rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	color:#000000;
	font-size:0.5em;
}
p.上申用（まえ、あと）本文 {
	-epub-hyphens:none;
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.上申用（まえ、あと）本文 rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
}
p.四六判書籍　本文 {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.四六判書籍　本文15-5q（字下げ） {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:1.192em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.四六判書籍　目次トビラ {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro B-KL", serif;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.目次　章題 {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro B-KL", serif;
	font-size:1.846em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.目次　見出し {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro B-KL", serif;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1;
	margin-bottom:0;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.目次　見出し15-5 {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro B-KL", serif;
	font-size:1.192em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1;
	margin-bottom:0;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.目次　見出し19 {
	-epub-line-break:normal;
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF リュウミン Pro EB-KL", sans-serif;
	font-size:1.462em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:43px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.目次　見出し19 rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	color:#000000;
	font-size:0.421em;
}
span.目次ノンブル {
	-epub-text-combine:horizontal;
	font-family:"Adobe Garamond Pro", serif;
	font-size:1em;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:right;
}
p.ParaOverride-2 {
	text-align:left;
}
span.CharOverride-1, ruby.CharOverride-1 {
	font-size:0.969em;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-size:0.969em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4, ruby.CharOverride-4 {
	font-size:1em;
}
span.CharOverride-5 {
	-epub-text-combine:horizontal;
}
span.CharOverride-6 {
	font-size:1.033em;
}
span.CharOverride-7, ruby.CharOverride-7 {
	font-family:"A-OTF ゴシックMB101 Pro L", sans-serif;
	font-size:0.933em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-size:0.867em;
}
span.CharOverride-9, ruby.CharOverride-9 {
	font-family:"A-OTF リュウミン Pro H-KL", sans-serif;
	font-size:1.846em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"ＤＦ平成ゴシック体 Std W3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-size:0.906em;
}
span.CharOverride-12 {
	font-size:0.936em;
}
span._idGenCharOverride-1 {
	font-size:0.839em;
}
span._idGenCharOverride-2 {
	font-size:0.684em;
}
span._idGenCharOverride-3 {
	font-size:0.867em;
}
p.上申用（まえ、あと）本文 rt._idGenRuby-1 {
	font-size:0.516em;
}
p.こぶりなｗ３　13Q rt._idGenRuby-2 {
	font-size:0.538em;
}
p.基本段落 rt._idGenRuby-3 {
	color:#000000;
	font-size:0.333em;
}
#_idContainer000 {
	display:inline-block;
	height:10px;
	position:relative;
	width:12px;
}
#_idContainer001 {
	display:inline-block;
	height:142px;
	position:relative;
	width:0px;
}
#_idContainer002 {
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:40px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	width:162px;
}
#_idContainer003, #_idContainer004 {
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:29px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	width:168px;
}
#_idContainer005 {
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:16px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	width:149px;
}
#_idContainer006 {
	display:inline-block;
	height:109px;
	position:relative;
	width:0px;
}
#_idContainer007 {
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:10px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	width:12px;
}
#_idContainer008 {
	display:inline-block;
	height:19px;
	position:relative;
	width:82px;
}
#_idContainer009 {
	display:inline-block;
	height:4px;
	position:relative;
	width:48px;
}
#_idContainer013 {
	display:inline-block;
	height:7px;
	position:relative;
	width:68px;
}
#_idContainer016 {
	display:inline-block;
	height:0px;
	position:relative;
	width:0px;
}
div._idGenObjectStyleOverride-1 {
	border-width:1px;
}
div._idGenObjectStyleOverride-2 {
	border-width:2px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:61px -61px 61px -61px;
}
div._idGenObjectLayout-3 {
	margin:69px -69px 69px -69px;
}
div._idGenObjectLayout-4 {
	margin:67px -67px 67px -67px;
}
