@import "standard.css";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
}
td, th {
	border-style:none;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	writing-mode:vertical-rl;
	-epub-writing-mode:vertical-rl;
    -webkit-writing-mode:vertical-rl;
    -epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}


/*章題*/
h1.hl_shodai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.7em;
	font-weight:bold;
	line-height:1.5em;
	margin-left:0.3em;
	text-align:justify;
	margin-top:2.0em;
}
p.shofukudai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.38em;
	line-height:1.75em;
	text-align:justify;
}

/*見出し*/
h2.hl_midashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.385em;
	font-weight:bold;
	line-height:1.75em;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:1em;
	text-align:justify;
}

h2.hl_midashi_sub {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.75em;
	margin-left:1.0em;
	margin-right:1.0em;
	margin-top:5em;
	text-align:justify;
}

h3.hl_komidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	font-weight:bold;
	line-height:1.75em;
	margin-left:1.2em;
	margin-right:1.2em;
	margin-top:1em;
	text-align:justify;
}

h3.hl_komidashi-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.28em;
	font-weight:bold;
	line-height:1.75em;
	margin-left:1.2em;
	margin-right:1.2em;
	margin-top:2.0em;
	text-align:justify;
}
h4.hl_kokomidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	font-weight:bold;
	line-height:1.75em;
	margin-right:1.3em;
	text-align:justify;
}

/*目次*/
p.toc_mokuji {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.75em;
	margin-top:3em;
	text-align:justify;
}

p.toc_shodai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.5em;
	font-weight:bold;
	line-height:1.75em;
	margin-left:0.5em;
	text-align:justify;
}
p.toc_midashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.75em;
	text-align:justify;
}

p.toc_komidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.1em;
	line-height:1.75em;
	margin-top:2.2em;
	text-align:justify;
}

p.toc_komidashi-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.1em;
	line-height:1.75em;
	margin-top:2.2em;
	text-align:justify;
	text-indent:-0.5em;
}
p.toc_kokomidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	line-height:1.75em;
	margin-top:4.0em;
	text-align:justify;
}



/*本編　文字・段落*/
/*（字下げ）*/
p {
	font-size:1.0em;
	line-height:1.75em;
	text-align:justify;
}
p.main {
	text-indent:1.0em;
}
/*（字上げ）*/
p.main_up {
	text-indent:-1em;
	margin-top:1em;
}

/*（半角字上げ）*/
p.main-first-up {
	text-indent:0.5em;
}
/*（上に揃える）*/
p.main_ten {text-indent:0em;}

/*文字位置*/
/*（下に揃える）*/
.put-right, .put-bottom {text-align:right;}
/*（中央に揃える）*/
.put-center {text-align:center;}

/*フォントサイズ*/
.f130 {font-size:1.3em;}
.f120 {font-size:1.2em;}
.f110 {font-size:1.1em;}
.f100 {font-size:1.0em;}
.f090 {font-size:0.9em;}
.f080 {font-size:0.8em;}
.f070 {font-size:0.7em;}
.f060 {font-size:0.6em;}
/*文章始まり位置*/
p.ma-t1 {margin-top:1em;}
p.ma-t2 {margin-top:2em;}
p.ma-t3 {margin-top:3em;}
p.ma-t4 {margin-top:4em;}
p.ma-t5 {margin-top:5em;}
p.ma-b2 {margin-bottom:2em;}
/*インデント*/
p.ind1 {text-indent:-1em;}
p.ind2 {text-indent:-2em;}
p.ind3 {text-indent:-3em;}
p.ind4 {text-indent:-4em;}

/*余白*/
.pa {padding:1em;}
/*太字*/
.bold {	font-weight:bold;}
/*斜体*/
.italic{font-style:oblique;}
/*下線*/
.line{text-decoration:underline;}
/*圏点*/
.dot {-epub-text-emphasis-style:dot;text-emphasis-style:dot;}
/*ゴマ点*/
.sesame {-epub-text-emphasis-style:sesame;text-emphasis-style:sesame;}
/*縦中横*/
.tcy {-epub-text-combine:horizontal;-webkit-text-combine:horizontal;}
/*文字色*/
.gray {color:#9fa0a0;}



/*テーブル（表）*/
/*（セル内で右寄せ）*/
td.cell-top {vertical-align:top;}
/*（セル内で左寄せ）*/
td.cell-bottom {vertical-align:bottom;}

/*線*/
hr {border-style:solid;border-width:1px;}

/*改ページ*/
.pagebreak {page-break-after:always;}

/*脚注リンクのフォントの太字解除*/
.link{font-weight:normal;}

/*脚注リンクのフォントの太字解除およびサイズ調整（章題や見出しに付く場合）*/
.link2{font-weight:normal;font-size:0.9em;}


/*フォント変更用タグ
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:0em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0em;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
*/


/*出のトランスフォーム*/
.trans {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	display: inline-block;
	vertical-align:top;
	font-size:90%;
	}

/*上付き文字（テーブルセルへの指定は無効）*/
span.f_super {
	font-size:58%;
	vertical-align:super;
	}

/*下付き文字（テーブルセルへの指定は無効）*/
span.f_sub {
	font-size:58%;
	vertical-align:sub;
	}
