@charset "utf-8";

/*リンク*/
a {
	text-decoration: none;
	border-right:1px solid;
}

/*センター*/
body.tate-tobira-center-body {
	margin:0;
	padding:0;
	-epub-writing-mode:horizontal-tb;
        -webkit-writing-mode:horizontal-tb;
	writing-mode:horizontal-tb;
}
div.tate-tobira-center {
	margin-left:auto;
	margin-right:auto;
	writing-mode:vertical-rl;
	-epub-writing-mode:vertical-rl;
        -webkit-writing-mode:vertical-rl;
}
/*扉等*/
h2.title {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:1.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
h3.sub_title {
 -adobe-ruby-overhang:none;
 -epub-line-break:normal;
 -epub-ruby-position:over;
 font-size:1.1em;
 font-style:normal;
 font-variant:normal;
 font-weight:bold;
 line-height:1.75em;
 margin-bottom:0px;
 margin-left:0px;
 margin-right:0px;
 margin-top:5em;
 text-align:justify;
 text-decoration:none;
 text-indent:0px;
}

/*画像*/
div.tate-img-100-no-float {
	height:100%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-100-no-float a {
	text-decoration: none;
	border-right:0px solid;
}

div.tate-img-40-no-float-top {
	height:40%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-40-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}

div.tate-img-top-40 {
	clear:both;
	float:left;
	display:inline;
	height:40%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:1.7em;
	padding-left:0.5em;
}
div.tate-img-top-40 :after {
	content:""; 
	display:block; 
}

div.tate-img-bottom-40 {
	clear:both;
	float:right;
	display:inline;
	height:40%;
	padding-top:1.7em;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0.5em;
}
div.tate-img-bottom-40 :after {
	content:""; 
	display:block; 
}

.fit{
	display:inline-block;
	page-break-inside:avoid;
	max-height:100%;
	max-width:100%;
	vertical-align:baseline;
	}

/*アテンション、コピーライト*/
p.hanyo-main-sage {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:1em;
}
p.hanyo-main-ten {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
p.hanyo-main-ten-narrow {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}

/*著者プロフィール*/
.title-author-txt {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:1em;
	margin-left:0;
	text-align:right;
	text-indent:0em;
}

.author-title {
	font-size:0.9em;
	font-weight:bold;
}
.author-name {
	font-size:1.1em;
	font-weight:bold;
}
.author-name-kana {
	font-size:0.8em;
	font-weight:normal;
}
.author-body {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
}

.toc-title {
	font-size:1.2em;
	font-weight:bold;
	line-height:1.75;
	margin-top:1em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.toc-h2-txt {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.75;
	margin-top:1em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.toc-h2-txt-down {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.75;
	margin-top:3em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.toc-h3-txt {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:2em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}

/*奥付*/
.colophon-title {
	font-size:1.1em;
	font-weight:bold;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-sub-title {
	font-size:0.9em;
	font-weight:normal;
}
.colophon-date {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:1.0em;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-author,
.colophon-publisher,
.colophon-company {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-address {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:4em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-credit {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:2.5em;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-jasrac {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-original {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:2.0em;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-body-small {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}

/*横書き*/
/*アテンション、コピーライト*/
p.yoko_hanyo-main-sage {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:1em;
}
p.yoko_hanyo-main-ten {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
p.yoko_hanyo-main-ten-narrow {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
/*著者プロフィール*/
.yoko_title-author-txt {
	font-size:1.0em;
	font-weight:bold;
	line-height:1.5;
	margin-top:0;
	margin-right:1em;
	margin-bottom:0;
	margin-left:0;
	text-align:right;
	text-indent:0em;
}

.yoko_author-title {
	font-size:0.9em;
	font-weight:bold;
}
.yoko_author-name {
	font-size:1.2em;
	font-weight:bold;
}
.yoko_author-name-kana {
	font-size:0.8em;
	font-weight:normal;
}
.yoko_author-body {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
}

.yoko_toc-title {
	font-size:1.2em;
	font-weight:bold;
	line-height:1.5;
	margin-top:1em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:center;
	text-indent:0em;
}
.yoko_toc-h2-txt {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:1em;
	text-align:justify;
	text-indent:0em;
}
.yoko_toc-h2-txt-down {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:2em;
	text-align:justify;
	text-indent:0em;
}
.yoko_toc-h3-txt {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:2em;
	text-align:justify;
	text-indent:0em;
}

/*奥付*/
.yoko_colophon-title {
	font-size:1.1em;
	font-weight:bold;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-sub-title {
	font-size:0.9em;
	font-weight:normal;
}
.yoko_colophon-date {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:1.0em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-author,
.yoko_colophon-publisher,
.yoko_colophon-company {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-address {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:4em;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-credit {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:2.5em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-original {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:2.0em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-body-small {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}

.em-accent {
	-webkit-text-emphasis-style: filled sesame;
}
.em-disk {
	-webkit-text-emphasis-style: filled dot;
}

/*外字*/
img.gaiji {
	height:1em;
	width:1em;
	display:inline;
}
img.gaiji-han {
	width: 0.5em;
	height: 1em;
	display: inline;
}
img.gaiji-text-bottom {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:text-bottom;
}
img.gaiji-text-top {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:text-top;
}
img.gaiji-middle {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:middle;
}
img.gaiji-baseline {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:baseline;
}

.indent_toc-oo-hl {
	font-size:1.2em;
	font-weight:bold;
	line-height:1.75;
	margin-top:6.3em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:-2em;
}
.indent_toc-oo-hl-normal {
	font-size:1.2em;
	font-weight:normal;
	line-height:1.75;
	margin-top:6.3em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:-2em;
}

h2.hl_introduction_title {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.5em;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.0em;
}
