@charset "utf-8";

/*「idGeneratedStyles.css」に@importを追記
@import "standard.css";*/

/*本文の先頭1文字下げ
本文の段落クラスのtext-indentをチェックすること
text-indent:1em;*/

/*InDesignからEPUBに出力すると余白関連がpxになっている
margin-bottom:0;
margin-left:0;　←　上の空きはleftで指定される
margin-right:0;
margin-top:19px;　　←　こちらに移動させること
　　　　　　↑　19px→1.9emに変更すること
*/
a {
	text-decoration: none;
	border-right:1px solid;
}
/*フォントの指定は不要
「font-family」を全て削除すること*/

/*縦書きで有効なクラス*/
/*縦書き・扉の左右センタリング*/

body.tate-tobira-center-body {
	margin:0;
	padding:0;
	-epub-writing-mode:horizontal-tb;
	-webkit-writing-mode:horizontal-tb;
	writing-mode:horizontal-tb;
}
div.tate-tobira-center {
	margin-left:auto;
	margin-right:auto;
	writing-mode:vertical-rl;
	-epub-writing-mode:vertical-rl;
	-webkit-writing-mode:vertical-rl;
}
/*記述方法
<body class="tate-tobira-center-body">
	<div class="tate-tobira-center">
		<h1>縦書きでの左右中央の扉</h1>
	</div>
</body>
Kindleはリンク線が左に付くので注意
h2.midashi-syotobira a {
	text-decoration: none;
	border-right:1px solid;
}
*/
/*記述方法  imgタグ内に「style="height:100%;"」を追加すること
<div class="tate-img-bottom-50">
	<img alt="〓" class="画像のクラス" src="../Images/〓.png" style="height:100%;"/>
</div>
キノッピーは擬似要素が効かないので、画像に下に文字が入り、他の文字を回り込ませない時
<div style="height:100%; clear:both;">
	<div class="tate-img-top-40">
		<img alt="〓" class="画像のクラス" src="../Images/〓.png" style="height:100%;"/>
	</div>
	<p>・・・・・・・・・・・・・・・・・・</p>
</div>
*/
/*画像がフル【回り込みなし】 100%**/
div.tate-img-100-no-float {
	height:100%;/*大きさ注意*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-100-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし・上下センタリング】 80%*/
div.tate-img-80-no-float {
	height:80%;/*大きさ注意*/
	padding-top:10%;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-80-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし】 80%*/
div.tate-img-80-no-float-top {
	height:80%;/*大きさ注意*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-80-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし】 70%*/
div.tate-img-70-no-float-top {
	height:70%;/*大きさ注意*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-70-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし】 60%*/
div.tate-img-60-no-float-top {
	height:60%;/*大きさ注意*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-60-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし0】 50%*/
div.tate-img-50-no-float-top {
	height:50%;/*大きさ注意*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-50-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし0】 40%*/
div.tate-img-40-no-float-top {
	height:40%;/*大きさ注意*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-40-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし0】 30%*/
div.tate-img-30-no-float-top {
	height:30%;/*大きさ注意*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-30-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし0】 20%*/
div.tate-img-20-no-float-top {
	height:20%;/*大きさ注意*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-20-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし・上下センタリング】 80%*/
div.tate-img-80-no-float {
	height:80%;/*大きさ注意*/
	padding-top:10%;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-80-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし・上下センタリング】 70%*/
div.tate-img-70-no-float {
	height:70%;/*大きさ注意*/
	padding-top:15%;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-70-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし・上下センタリング】 60%*/
div.tate-img-60-no-float {
	height:60%;/*大きさ注意*/
	padding-top:20%;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-60-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし・上下センタリング】 50%*/
div.tate-img-50-no-float {
	height:50%;/*大きさ注意*/
	padding-top:25%;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-50-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし・上下センタリング】 40%*/
div.tate-img-40-no-float {
	height:40%;/*大きさ注意*/
	padding-top:30%;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-40-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし・上下センタリング】 30%*/
div.tate-img-30-no-float {
	height:30%;/*大きさ注意*/
	padding-top:35%;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-30-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像div【回り込みなし・上下センタリング】 20%*/
div.tate-img-20-no-float {
	height:20%;/*大きさ注意*/
	padding-top:40%;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
div.tate-img-20-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
/*画像を上に付けるdiv 60%*/
div.tate-img-top-60 {
	clear:both;
	float:left;
	display:inline;
	height:60%;/*大きさ注意*/
	padding-top:0;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
}
/*擬似要素でfloatをクリア*/
div.tate-img-top-60 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を上に付けるdiv 50%*/
div.tate-img-top-50 {
	clear:both;
	float:left;
	display:inline;
	height:50%;/*大きさ注意*/
	padding-top:0;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
}
/*擬似要素でfloatをクリア*/
div.tate-img-top-50 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を上に付けるdiv 40%*/
div.tate-img-top-40 {
	clear:both;
	float:left;
	display:inline;
	height:40%;/*大きさ注意*/
	padding-top:0;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
}
/*擬似要素でfloatをクリア*/
div.tate-img-top-40 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を上に付けるdiv 30%*/
div.tate-img-top-30 {
	clear:both;
	float:left;
	display:inline;
	height:30%;/*大きさ注意*/
	padding-top:0;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
}
/*擬似要素でfloatをクリア*/
div.tate-img-top-30 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を上に付けるdiv 20%*/
div.tate-img-top-20 {
	clear:both;
	float:left;
	display:inline;
	height:20%;/*大きさ注意*/
	padding-top:0;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
}
/*擬似要素でfloatをクリア*/
div.tate-img-top-20 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を上に付けるdiv 10%*/
div.tate-img-top-10 {
	clear:both;
	float:left;
	display:inline;
	height:10%;/*大きさ注意*/
	padding-top:0;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
}
/*擬似要素でfloatをクリア*/
div.tate-img-top-10 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を下に付けるdiv 70%*/
div.tate-img-bottom-70 {
	clear:both;
	float:right;
	display:inline;
	height:70%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
/*擬似要素でfloatをクリア*/
div.tate-img-bottom-70 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を下に付けるdiv 60%*/
div.tate-img-bottom-60 {
	clear:both;
	float:right;
	display:inline;
	height:60%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
div.tate-img-bottom-60 a {
	text-decoration: none;
	border-right:0px solid;
}
/*擬似要素でfloatをクリア*/
div.tate-img-bottom-60 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を下に付けるdiv 50%*/
div.tate-img-bottom-50 {
	clear:both;
	float:right;
	display:inline;
	height:50%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
div.tate-img-bottom-50 a {
	text-decoration: none;
	border-right:0px solid;
}
/*擬似要素でfloatをクリア*/
div.tate-img-bottom-50 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を下に付けるdiv 45%*/
div.tate-img-bottom-45 {
	clear:both;
	float:right;
	display:inline;
	height:45%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
/*画像を下に付けるdiv 40%*/
div.tate-img-bottom-40 {
	clear:both;
	float:right;
	display:inline;
	height:40%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
/*擬似要素でfloatをクリア*/
div.tate-img-bottom-40 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を下に付けるdiv 35%*/
div.tate-img-bottom-35 {
	clear:both;
	float:right;
	display:inline;
	height:35%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
/*画像を下に付けるdiv 30%*/
div.tate-img-bottom-30 {
	clear:both;
	float:right;
	display:inline;
	height:30%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
/*擬似要素でfloatをクリア*/
div.tate-img-bottom-30 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を下に付けるdiv 20%*/
div.tate-img-bottom-20 {
	clear:both;
	float:right;
	display:inline;
	height:20%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
/*擬似要素でfloatをクリア*/
div.tate-img-bottom-20 :after {
	content:""; 
	display:block; 
	clear:both;
}
/*画像を下に付けるdiv 10%*/
div.tate-img-bottom-10 {
	clear:both;
	float:right;
	display:inline;
	height:10%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
/*擬似要素でfloatをクリア*/
div.tate-img-bottom-10 :after {
	content:""; 
	display:block; 
	clear:both;
}

/*縦書き・字下げ*/
.start_2em {
	padding-top:2em;
}
.start_3em {
	padding-top:3em;
}
.start_4em {
	padding-top:4em;
}
.start_5em {
	padding-top:5em;
}
.start_6em {
	padding-top:6em;
}
/*縦書き・インデント*/
.indent_2em {
	padding-top:2em;
	text-indent:-1em;
}
.indent_3em {
	padding-top:3em;
	text-indent:-1em;
}
.indent_4em {
	padding-top:4em;
	text-indent:-1em;
}
.indent_5em {
	padding-top:5em;
	text-indent:-1em;
}
.indent_6em {
	padding-top:6em;
	text-indent:-1em;
}

/*下寄せ*/
.put-bottom {
	/*【要検討】Kindleでは警告が出るのでこのクラスは使えない*/
	/*position:absolute;
	bottom:0;*/
	/*Kindle用の代用*/
	text-align:right;
}
/*上寄せ*/
.put-top {
	/*【要検討】Kindleでは警告が出るのでこのクラスは使えない*/
	/*position:absolute;
	top:0;*/
	/*Kindle用の代用*/
	text-align:left;
}
/*汎用文字クラス*/
p.hanyo-main-sage {
	-epub-line-break:normal;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:1em;
	widows:1;
}
p.hanyo-main-ten {
	-epub-line-break:normal;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0m;
	widows:1;
}
/*B社用*/
/*著者名*/
.title-author-txt {
	font-size: 100%;
	text-align: right;/*下寄せ*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom: 1em;/*1文字上げ*/
}
/*目次の扉*/
.toc-title {
	font-size: 110%;
	font-weight: normal;
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
/*目次*/
/*h2レベルの目次*/
.toc-h2-txt {
	font-size: 120%;
	font-weight: normal;
	padding-top:1em;
	padding-left:1em;
	padding-right:0;
	padding-bottom:0;
}
/*h2レベルの目次*/
.toc-h2-txt-down {
	font-size: 120%;
	font-weight: normal;
	padding-top:3em;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
/*h3レベルの目次*/
.toc-h3-txt {
	font-size: 110%;
	font-weight: normal;
	padding-top: 2em;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
/*h4レベルの目次*/
.toc-h4-txt {
	font-size: 110%;
	font-weight: normal;
	padding-top:4em;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
/*著者プロフィール*/
.author-body {
	font-size: 0.8em;
	font-weight: normal;
	line-height: 150%;
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}
/*K社用*/
/*目次大見出しのインデント*/
.indent_toc-oo-hl {
	-epub-line-break:normal;
	font-size:1.192em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:6.3em;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-2em;
	widows:1;
}
.indent_toc-oo-hl-normal {
	-epub-line-break:normal;
	font-size:1.192em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:6.3em;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-2em;
	widows:1;
}
/*質問者*/
.situmonsha-4 {
	font-size:1.269em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12.5em;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-5.0em;
	widows:1;
}
.situmonsha-4-2 {
	font-size:1.269em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:13.5em;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-6.0em;
	widows:1;
}
.situmonsha-5 {
	font-size:1.269em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:14.5em;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-7.0em;
	widows:1;
}
/*関連書籍*/
p.kanren-syoseki {
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:0.7em;
	margin-right:0;
	margin-top:1.5em;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-0.5em;
	widows:1;
}

.colophon-title {
	font-size:1.2em;
	font-weight:bold;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
.colophon-title rt {
	font-weight:normal;
}
.colophon-sub-title {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
.colophon-author {
	font-size:1.75em;
	font-weight:normal;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
.colophon-author a {
	text-decoration: none;
	border-bottom:1px solid;
}
.colophon-body {
	font-size:0.9em;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
.colophon-body-80 {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
.colophon-body-75 {
	font-size:0.75em;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}

/*縦中横*/
.tcy {
	-webkit-text-combine: horizontal;
	-epub-text-combine:horizontal;
}

/*colspan、rowspanとの同時使用は不可
解決策　<td style="text-align: right;" colspan="5">*/
/*縦書きテーブルの左寄せ*/
td.cell-bottom {
	vertical-align:bottom;
}
/*縦書きテーブルの右寄せ*/
td.cell-top {
	vertical-align:top;
}
/*縦書きテーブルの左寄せ*/
td.cell-left {
	vertical-align:left;
}
/*縦書きテーブルの右寄せ*/
td.cell-right {
	vertical-align:right;
}


/*横書きで有効なクラス　接頭語「yoko_」*/
/*横書き・右寄せ*/
.yoko_start_2em {
	padding-left:2em;
}
.yoko_start_3em {
	padding-left:3em;
}
.yoko_start_4em {
	padding-left:4em;
}
.yoko_start_5em {
	padding-left:5em;
}
.yoko_start_6em {
	padding-left:6em;
}
/*横書き・インデント*/
.yoko_indent_2em {
	padding-left:2em;
	text-indent:-1em;
}
.yoko_indent_3em {
	padding-left:3em;
	text-indent:-1em;
}
.yoko_indent_4em {
	padding-left:4em;
	text-indent:-1em;
}
.yoko_indent_5em {
	padding-left:5em;
	text-indent:-1em;
}
.yoko_indent_6em {
	padding-left:6em;
	text-indent:-1em;
}


/*水平線*/
hr {
	border-style: solid;
	border-width: 1px;
}
.little-size {
	font-size: 80%;	
}
/*説明*/
.explanatory {
	font-size: 90%;
	line-height: 120%;
}
/*強調*/
.emphasis {
	font-size: 120%;
	font-weight: bold;
}
/*行空け*/
.blank-line-1 {
	margin-bottom: 1em;
}
/*太字*/
span.f_bold {
	font-weight:bold;
}
/*注釈*/
.annotation {
	font-size: 90%;
	line-height: 150%;
}
/*圏点・傍点*/
.em-accent {
	-webkit-text-emphasis-style: filled sesame;/*縦書き*/
}
.em-disk {
	-webkit-text-emphasis-style: filled dot;/*横書き*/
}

/*縦書き・横書きで有効なクラス*/
/*外字*/
img.gaiji {
	height:1em;
	width:1em;
	display:inline;
}
/*外字 半角*/
img.gaiji-han {
	width: 0.5em;
	height: 1em;
	display: inline;
}
img.gaiji-text-bottom {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:text-bottom;
}
img.gaiji-middle {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:middle;
}
img.gaiji-text-top {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:text-top;
}
img.gaiji-baseline {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:baseline;
}
/*文字サイズ*/
.f_size_120 {
	font-size:1.2em;
}
.f_size_110 {
	font-size:1.1em;
}
.f_size_090 {
	font-size:0.9em;
}
.f_size_080 {
	font-size:0.8em;
}
.f_size_070 {
	font-size:0.7em;
}
.f_size_060 {
	font-size:0.6em;
}
/*改ページ <div class="honbun_br"></div>*/
/*Kinopp専用*/
.honbun_br {
	page-break-before:always;
}
/*Kindle専用*/
.honbun_br-Kindle {
	page-break-after:always;
}
p.note {
	-epub-text-align-last:left;
	font-size:0.95em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:0;
	margin-right:1em;
	margin-top:1em;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-1em;
	text-transform:none;
	widows:1;
}
span.note_title {
	font-style:normal;
	font-weight:bold;
}
/*横長・画像を下に付けるdiv*/
div.yoko-img-bottom {
	clear:both;
	float:right;
	display:inline;
	width:100%;/*大きさ注意*/
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
}
/*擬似要素でfloatをクリア*/
div.yoko-img-bottom :after {
	content:""; 
	display:block; 
	clear:both;
}