﻿@import "standard.css";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	writing-mode:vertical-rl;
	-epub-writing-mode:vertical-rl;
	-webkit-writing-mode:vertical-rl;
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}

/*見出し等*/

h2.hl_midashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.7em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}


h3.hl_komidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.28em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1.2em;
	margin-right:1.2em;
	margin-top:2em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}


h4.hl_kokomidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:1.3em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.0em;

}
/*扉等*/
p.title {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:1.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}

h1.hl_shodai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.7em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.5em;
	margin-bottom:0px;
	margin-left:0.3em;
	margin-right:0.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.shofukudai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.38em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
p.toc_tobira {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:1.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}

/*目次関連*/
p.toc_mokuji {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:2em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_shodai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0.5em;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	margin-top:0em;
}
p.toc_shofukudai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:3.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_midashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1em;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}

p.toc_midashi02 {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.5em;
	margin-bottom:0px;
	margin-left:0.5em;
	margin-right:-0.5em;
	margin-top:5em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}

p.toc_midashi_sage {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_contents {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:2em;
	margin-right:0px;
	margin-top:2.2em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
p.toc_komidashi-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:2.2em;
	text-align:justify;
	text-decoration:none;
	text-indent:-0.5em;
}
p.toc_kokomidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:4.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}


p.main {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:1.0em;
}

p.main-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
p.main_ten {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}


p.main_sage {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:3em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}

p.main_sage02 {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}



span.f_bold {
	font-style:normal;
	font-weight:bold;
}
/*出のトランスフォーム*/
.trans {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	display: inline-block;
	vertical-align:top;
	font-size:90%;
	}
	
	p.para-style-override-5 {
	text-align:right;
}
	
/*ここから下は必要に応じて使う

p.para-style-override- {
	text-align:right;
}
p.para-style-override- {
	text-indent:0.5em;
}
span.char-style-override-, ruby.char-style-override- {
	text-decoration:overline;
}
span.char-style-override- {
	-epub-text-emphasis-style:dot;
	text-emphasis-style:dot;
}
h2._idGenParaOverride-2 {
page-break-before:always;
}
*/



p.基本段落 {
	-epub-text-align-last:left;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}

p.syou {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-right:1em;
	margin-left:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}
span.main, ruby.main {
	line-height:1.75;
	text-indent:1em;
	font-style:normal;
	font-weight:normal;
}
span.syou_ti {
	
	font-style:normal;
	font-weight:bold;
	
}

div._idGenObjectAttribute-11 {
	page-break-before:always;
	page-break-after:always;
}
div._idGenObjectAttribute-12 {
	page-break-before:always;
}
img._idGenObjectAttribute-1 {
	height:100%;
	min-height:100%;
	width:100%;
}

img.toc-sho_img {
	width:2.7em;
	display:inline;
}