@charset "utf-8";
a {
	text-decoration: none;
	border-right:1px solid;
}
body.tate-tobira-center-body {
	margin:0;
	padding:0;
	-epub-writing-mode:horizontal-tb;
	writing-mode:horizontal-tb;
}
div.tate-tobira-center {
	margin-left:auto;
	margin-right:auto;
	writing-mode:vertical-rl;
	-epub-writing-mode:vertical-rl;
	page-break-after:always;
	page-break-before:always;
}
.put-bottom {
	text-align:right;
}
.put-top {
	text-align:left;
}
.put-right {
	text-align:right;
}
.put-center {
	text-align:center;
}
div.tate-img-100-no-float {
	height:100%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-100-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-80-no-float {
	height:80%;
	padding-top:10%;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-80-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-80-no-float-top {
	height:80%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-80-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}

p.hanyo-main-sage {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:1em;
}
p.hanyo-main-ten {
	font-size:1.2em;
	font-weight:normal;
	line-height:1.75em;
	margin-top:1em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:-1em;
}
p.hanyo-main-ten-narrow {
	font-size:1em;
	font-weight:normal;
	line-height:1.75em;
	margin-top:1em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.title-author-txt {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:1em;
	margin-left:0;
	text-align:right;
	text-indent:0em;
}
.toc-title {
	font-size:1.2em;
	font-weight:bold;
	line-height:1.75;
	margin-top:1em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.toc-h2-txt {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.75;
	margin-top:1em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.toc-h2-txt-down {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.75;
	margin-top:3em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.toc-h3-txt {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:2em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.author-title {
	font-size:0.9em;
	font-weight:bold;
}
.author-name {
	font-size:1.2em;
	font-weight:bold;
}
.author-name-kana {
	font-size:0.8em;
	font-weight:normal;
}
.author-body {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
}
.colophon-title {
	font-size:1.2em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-sub-title {
	font-size:1em;
	font-weight:normal;
	line-height:1;
}
.colophon-date {
	font-size:1em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:1.0em;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon {
	font-size:1em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-address {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:4em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-credit {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:2.5em;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-jasrac {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-original {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:2.0em;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-body-small {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
p.yoko_hanyo-main-sage {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:1em;
}
p.yoko_hanyo-main-ten {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
p.yoko_hanyo-main-ten-narrow {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_title-author-txt {
	font-size:1.0em;
	font-weight:bold;
	line-height:1.5;
	margin-top:0;
	margin-right:1em;
	margin-bottom:0;
	margin-left:0;
	text-align:right;
	text-indent:0em;
}
.yoko_toc-title {
	font-size:1.2em;
	font-weight:bold;
	line-height:1.5;
	margin-top:1em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:center;
	text-indent:0em;
}
.yoko_toc-h2-txt {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:1em;
	text-align:justify;
	text-indent:0em;
}
.yoko_toc-h2-txt-down {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:2em;
	text-align:justify;
	text-indent:0em;
}
.yoko_toc-h3-txt {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:2em;
	text-align:justify;
	text-indent:0em;
}
.yoko_author-title {
	font-size:0.9em;
	font-weight:bold;
}
.yoko_author-name {
	font-size:1.2em;
	font-weight:bold;
}
.yoko_author-name-kana {
	font-size:0.8em;
	font-weight:normal;
}
.yoko_author-body {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
}
.yoko_colophon-title {
	font-size:1.1em;
	font-weight:bold;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-sub-title {
	font-size:0.9em;
	font-weight:normal;
}
.yoko_colophon-date {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:1.0em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-author,
.yoko_colophon-publisher,
.yoko_colophon-company {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-address {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:4em;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-credit {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:2.5em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-original {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:2.0em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-body-small {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
span.tcy {
	-epub-text-combine:horizontal;
}

span.f_bold {
	font-weight:bold;
}
.annotation {
	font-size: 0.9em;
	line-height: 1.5;
}
.em-accent {
	-webkit-text-emphasis-style: filled sesame;
}
.em-disk {
	-webkit-text-emphasis-style: filled dot;
}
img.gaiji {
	height:1em;
	width:1em;
	display:inline;
}
img.gaiji-han {
	width: 0.5em;
	height: 1em;
	display: inline;
}

.f_size_090 {
	font-size:0.9em;
}
.f_size_080 {
	font-size:0.8em;
}
.f_size_070 {
	font-size:0.7em;
}
.f_size_060 {
	font-size:0.6em;
}
.honbun_br-Kindle {
	page-break-after:always;
}
.indent_toc-oo-hl {
	font-size:1.2em;
	font-weight:bold;
	line-height:1.75;
	margin-top:6.3em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:-2em;
}
.indent_toc-oo-hl-normal {
	font-size:1.2em;
	font-weight:normal;
	line-height:1.75;
	margin-top:6.3em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:-2em;
}
