body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-writing-mode:vertical-rl;
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.基本グラフィックフレーム {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.基本テキストフレーム {
	border-style:solid;
}
p.基本段落 {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Kozuka Mincho Std R", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h3.hl_komidashi {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"ＤＦ平成ゴシック体Ｒ Pro-5 W3", sans-serif;
	font-size:1.308em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:23px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h3.hl_komidashi rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	color:#000000;
	font-size:0.471em;
}
h2.hl_midashi {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro B-KL", serif;
	font-size:1.615em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h2.hl_midashi rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-family:"A-OTF Ryumin Pro B-KL", serif;
	font-weight:500;
	font-style:normal;
	color:#000000;
	font-size:0.429em;
}
p.main {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:1.192em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.main rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.484em;
}
p.main_reijin {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:1.192em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.main_reijin rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.484em;
}
p.note {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:0.846em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:7px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-7px;
	text-transform:none;
	widows:1;
}
p.note rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.409em;
}
p.reigen {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.reigen rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.5em;
}
p.脚注G {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF 中ゴシックBBB Pro Medium", sans-serif;
	font-size:0.846em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.脚注G rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.409em;
}
span.f_note_title {
	font-family:"A-OTF ゴシックMB101 Pro R", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.f_reijin, ruby.f_reijin {
	font-family:"ＤＦ平成ゴシック体Ｒ Pro-5 W3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	margin-top:79px;
}
p.ParaOverride-2, h2.ParaOverride-2 {
	text-align:right;
}
p.ParaOverride-3 {
	margin-top:11px;
}
p.ParaOverride-4 {
	margin-top:34px;
	text-align:left;
}
p.ParaOverride-5 {
	margin-top:34px;
}
p.ParaOverride-6 {
	margin-top:170px;
	text-align:right;
}
p.ParaOverride-7 {
	text-align:left;
}
p.ParaOverride-8 {
	text-align:center;
}
span.CharOverride-1 {
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:1.077em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2, ruby.CharOverride-2 {
	font-size:0.875em;
}
span.CharOverride-3, ruby.CharOverride-3 {
	font-size:1.692em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-size:2.462em;
}
span.CharOverride-5, ruby.CharOverride-5 {
	font-size:0.839em;
}
ruby.CharOverride-6, span.CharOverride-6 {
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-size:0.903em;
}
span.CharOverride-8, ruby.CharOverride-8 {
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:0.903em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	-epub-text-emphasis-style:dot;
	text-emphasis-style:dot;
}
span.CharOverride-10 {
	-epub-text-combine:horizontal;
}
span.CharOverride-11 {
	font-size:0.738em;
}
span.CharOverride-12 {
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:0.912em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13, ruby.CharOverride-13 {
	font-size:0.882em;
}
span.CharOverride-14 {
	font-size:0.936em;
}
ruby.CharOverride-15 {
	font-size:1.033em;
}
span.CharOverride-16 {
	font-size:0.955em;
}
span.CharOverride-17 {
	font-family:"A-OTF 見出ゴMB31 Pro MB31", sans-serif;
	font-size:0.742em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	color:#ffffff;
	font-family:"A-OTF 見出ゴMB31 Pro MB31", sans-serif;
	font-size:0.742em;
	font-style:normal;
	font-weight:normal;
}
ruby.CharOverride-19, span.CharOverride-19 {
	color:#000000;
	font-size:1.182em;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	-epub-text-combine:horizontal;
}
p.reigen rt._idGenRuby-1 {
	font-size:0.5em;
}
p rt._idGenRuby-2 {
	-adobe-ruby-align:center;
	-adobe-ruby-overhang:none;
	color:#000000;
	font-family:"A-OTF Ryumin Pro B-KL", serif;
	font-size:0.455em;
	font-style:normal;
	font-weight:500;
}
p.main rt._idGenRuby-3 {
	font-size:0.615em;
}
ruby.f_reijin rt._idGenRuby-4 {
	font-family:"ＤＦ平成ゴシック体 Std W3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
ruby.f_reijin rt._idGenRuby-5 {
	font-size:0.5em;
}
p.main_reijin rt._idGenRuby-6 {
	color:#727171;
	font-size:0.323em;
}
h3.hl_komidashi rt._idGenRuby-7 {
	font-size:0.5em;
}
p.main_reijin rt._idGenRuby-8 {
	color:#727171;
	font-size:0.313em;
}
p.脚注G rt._idGenRuby-9 {
	font-size:0.5em;
}
div._idGenStoryDirection-1 {
	-epub-writing-mode:horizontal-tb;
}
#_idContainer004 {
	display:inline-block;
	height:132px;
	width:182px;
}
#_idContainer006, #_idContainer049, #_idContainer051, #_idContainer053 {
	display:inline-block;
	height:142px;
	width:111px;
}
#_idContainer008 {
	display:inline-block;
	height:148px;
	width:132px;
}
#_idContainer010 {
	display:inline-block;
	height:108px;
	width:181px;
}
#_idContainer012 {
	display:inline-block;
	height:137px;
	width:176px;
}
#_idContainer016 {
	display:inline-block;
	height:128px;
	width:165px;
}
#_idContainer019 {
	display:inline-block;
	height:126px;
	width:146px;
}
#_idContainer020 {
	display:inline-block;
	height:126px;
	width:164px;
}
#_idContainer023 {
	display:inline-block;
	height:135px;
	width:195px;
}
#_idContainer026 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:186.56px;
	z-index:0;
}
#_idContainer027 {
	-webkit-transform:translate(46.861px,4.575px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.19px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(46.861px,4.575px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:30.04px;
	z-index:2;
}
#_idContainer028 {
	-webkit-transform:translate(120.652px,21.909px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.68px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(120.652px,21.909px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:31.45px;
	z-index:9;
}
#_idContainer029 {
	-webkit-transform:translate(124.008px,32.560px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.93px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(124.008px,32.560px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:14.97px;
	z-index:8;
}
#_idContainer030 {
	-webkit-transform:translate(34.675px,37.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.34px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(34.675px,37.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:49.66px;
	z-index:1;
}
#_idContainer031 {
	-webkit-transform:translate(11.263px,39.493px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:103.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(11.263px,39.493px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:142.97px;
	z-index:5;
}
#_idContainer032 {
	-webkit-transform:translate(113.617px,61.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.93px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(113.617px,61.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:14.97px;
	z-index:13;
}
#_idContainer033 {
	-webkit-transform:translate(132.151px,71.301px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.151px,71.301px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:12.03px;
	z-index:11;
}
#_idContainer034 {
	-webkit-transform:translate(109.014px,73.909px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.93px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(109.014px,73.909px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:14.97px;
	z-index:4;
}
#_idContainer035 {
	-webkit-transform:translate(138.242px,76.055px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(138.242px,76.055px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:38.88px;
	z-index:12;
}
#_idContainer036 {
	-webkit-transform:translate(139.966px,78.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.94px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(139.966px,78.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:37.15px;
	z-index:15;
}
#_idContainer037 {
	-webkit-transform:translate(74.711px,96.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.40px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(74.711px,96.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:7.16px;
	z-index:6;
}
#_idContainer038 {
	-webkit-transform:translate(105.684px,110.061px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.79px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(105.684px,110.061px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:33.29px;
	z-index:3;
}
#_idContainer039 {
	-webkit-transform:translate(17.618px,115.847px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.34px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(17.618px,115.847px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:31.30px;
	z-index:10;
}
#_idContainer040 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:13.50px;
	z-index:0;
}
#_idContainer041 {
	-webkit-transform:translate(13.347px,14.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.347px,14.759px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.58px;
	z-index:1;
}
#_idContainer042 {
	-webkit-transform:translate(44.072px,120.411px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(44.072px,120.411px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:14.93px;
	z-index:14;
}
#_idContainer043 {
	-webkit-transform:translate(98.482px,138.290px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.44px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(98.482px,138.290px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:41.48px;
	z-index:7;
}
#_idContainer044 {
	display:inline-block;
	height:147px;
	position:relative;
	width:187px;
}
#_idContainer046 {
	display:inline-block;
	height:560px;
	width:374px;
}
#_idContainer047 {
	display:inline-block;
	height:209px;
	width:160px;
}
#_idContainer056 {
	display:inline-block;
	height:154px;
	width:133px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-height:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
}
div._idGenObjectStyleOverride-3 {
	border-width:2px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-5 {
	border-width:1px;
}
div._idGenObjectStyleOverride-6 {
	background-color:#ebebec;
	border-width:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
