@import "standard.css";

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.main {
	-epub-text-align-last:left;
	font-size:1.23em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:1;
}
p.main1 {
	-epub-text-align-last:left;
	font-size:1.23em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:1em;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
	widows:1;
}
p.mi {
	-epub-text-align-last:left;
	font-size:0.9em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
	widows:1;
}
p.main-first-up {
	-epub-text-align-last:left;
	font-size:1.23em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0.5em;
	text-transform:none;
	widows:1;
}
p.main_ten {
	-epub-text-align-last:left;
	font-size:1.23em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
	widows:1;
}
p.midasi_n {
	-epub-text-align-last:left;
	font-size:1.7em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:2em;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-2em;
	text-transform:none;
	widows:1;
}
p.komidasi {
	-epub-text-align-last:left;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
	widows:1;
}
p.hl_shodai {
	-epub-text-align-last:left;
	font-size:1.45em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:1;
}

p.reigen {
	-epub-text-align-last:left;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:1;
}
p.reigen-first-up {
	-epub-text-align-last:left;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0.5em;
	text-transform:none;
	widows:1;
}


p.toc_midashi {
	-epub-text-align-last:left;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h1.hl_shodai {
	-epub-text-align-last:left;
	font-size:1.4em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h1.hl_shodai1 {
	-epub-text-align-last:left;
	font-size:1.4em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.jinbutsu {
	-epub-text-align-last:left;
	font-size:1.23em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.jinbutsu_main {
	-epub-text-align-last:left;
	font-size:1.23em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
	widows:1;
}
p.jinbutsu_shitsumon {
	-epub-text-align-last:left;
	font-size:1.12em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:4em;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.jinbutsu_shitsumon1 {
	-epub-text-align-last:left;
	font-size:1.12em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:2em;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.jinbutsu_shitsumon2 {
	-epub-text-align-last:left;
	font-size:1.12em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:6em;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-5em;
	text-transform:none;
	widows:1;
}
p.main_e {
	-epub-text-align-last:left;
	font-size:1.23em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:1em;
	text-transform:none;
	widows:1;
}
p.midasi_e1 {
	-epub-text-align-last:left;
	font-size:1.85em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
	widows:1;
}
p.midasi_e {
	-epub-text-align-last:left;
	font-size:1.6em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
	widows:1;
}
p.t_main_e {
	-epub-text-align-last:left;
	font-size:1.23em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
	widows:1;
}
p.note {
	-epub-text-align-last:left;
	font-size:0.9em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0.5em;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
	widows:1;
}

p.kanren_title {
	-epub-text-align-last:left;
	font-size:1.23em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.kanren_main {
	-epub-text-align-last:left;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0;
	margin-left:0.5em;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}




span.f_reijin {
	font-style:normal;
	font-weight:bold;
}







/*
span.da {
	color:#000000;
	font-family:"Bembo Std Regular", sans-serif;
	font-size:1.154em;
	font-style:normal;
	font-weight:normal;
}*/
/*

span.ee {
	font-size:1.385em;
	font-style:normal;
	font-weight:normal;
}*/


/*
span.f_note_main_e {
	font-size:0.769em;
	font-style:normal;
	font-weight:normal;
}*/


/*
span.komi, ruby.komi {
	font-size:1.308em;
	font-style:normal;
	font-weight:normal;
}
span.komi_e {
	
	font-size:1.615em;
	font-style:normal;
	font-weight:normal;
}
*/






/*
span.syou {
	font-size:1em;
}
span.syou_e {
	font-size:1em;
}*/
p.tk {
	margin-left:2.5em;
	text-align:left;
	font-size:1.15em;
	text-indent:0em;
}
p.moku {
	text-align:left;
	text-indent:-1.5em;
	margin-left:2.5em;
	margin-top:1em;
/*	font-weight:bold;*/
}

p.cent {
	text-align:center;
}
p.ParaOverride-1 {
	text-align:center;
}




p.ParaOverride-4 {
	text-align:left;
	text-indent:0em;
	margin-left:1em;
}



p.ParaOverride-5 {
	margin-top:1em;
	text-align:right;
}




/*
span.CharOverride-2 {
	font-size:1.538em;
	font-style:normal;
	font-weight:normal;
}
*/



span.CharOverride-3 {
	font-size:0.98em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-size:0.93em;
	font-style:normal;
	font-weight:normal;
}





/*脚注の
span.CharOverride-19 {
	font-size:0.733em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-22 {
	font-size:0.733em;
}
*/

span.CharOverride-23 {
	font-size:0.9em;
}




/*
span.CharOverride-39 {
	font-size:1.2em;
}*/
span.CharOverride-40 {
	font-style:italic;
	font-weight:normal;
}





span.CharOverride-48 {
	font-style:italic;
	font-weight:normal;
}

/*
span.CharOverride-43 {
	font-size:1em;
}

span.CharOverride-45 {
	font-family:"Kozuka Mincho Pro R", serif;
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-49 {
	font-family:"Bembo Std Regular", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-weight:normal;
}*/



/*
span._idGenCharOverride-2 {
	font-size:1.2em;
}
*/



/*目次注釈*/
span.t20 {
	font-size:0.9em;
	font-style:normal;
	font-weight:normal;
}

span.con {
	font-size:1.15em;
	font-style:normal;
	font-weight:bold;
	line-height:1.75em;
}

p.mid {
	text-align:left;
	text-indent:-1.5em;
	margin-left:2.5em;
	margin-top:1em;
	margin-bottom:1em;
}
p.kom {
	margin-left:2.5em;
	text-align:left;
	font-size:1.15em;
	text-indent:0em;
}
span.it {
	font-style:italic;
}
div.reigen {
	padding-top:28%;
}
span.fonts {
	font-size:0.8em;
	font-weight:normal;
}

div.ww50 {
	width:50%;/*大きさ注意*/
	padding-top:0;
	padding-left:25%;
	padding-right:25%;
	padding-bottom:0;
	text-align:center;
}
div.ww80 {
	width:50%;/*大きさ注意*/
	padding-top:0;
	padding-left:10%;
	padding-right:0;
	padding-bottom:0;
	text-align:center;
}
div.yoko_img-center {
	text-align:center;
	margin-top:1em;
	margin-bottom:0;
}

div.tate40 {
	clear:both;
	float:left;
	display:inline;
	height:35%;/*大きさ注意*/
	padding-top:0;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
}
span.colophon_subtitle {
	font-size:0.709em;
	font-style:normal;
	font-weight:normal;
}




span.f_reijin_e {
	font-style:normal;
	font-weight:bold;
}

/*span.komi_e {
	font-size:1.615em;
	font-style:normal;
	font-weight:normal;
}*/


/*span.syou {
	font-style:normal;
	font-weight:normal;
}*/
/*span.syou_e {
	font-style:normal;
	font-weight:normal;
}
span.ten {
	font-size:1.154em;
	font-style:normal;
	font-weight:normal;
}
span.konma {
	font-style:normal;
	font-weight:normal;
}
span.komi {
	font-style:normal;
	font-weight:normal;
}
*/




p.ParaOverride-6 {
	margin-left:1em;
	text-indent:0em;
}
p.Pa-6 {
	margin-left:0.5em;
	text-indent:0em;
}

p.ParaOverride-9 {
	text-align:right;
}

p.ParaOverride-11 {
	text-align:right;
}

p.ParaOverride-12 {
	text-align:right;
}




/*span.CharOverride-17 {
	font-size:0.733em;
	font-style:normal;
	font-weight:normal;
}
*/



span.CharOverride-25 {
	font-style:italic;
	font-weight:normal;
}



/*
span.CharOverride-12 {
	font-size:1.133em;
}
span.CharOverride-30 {
	font-size:1.133em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-31 {
	font-size:1em;
}*/

span.CharOverride-33 {
	font-style:italic;
	font-weight:normal;
}





span.f_note_title {
	font-style:normal;
	font-weight:bold;
}