body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-writing-mode:vertical-rl;
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.基本グラフィックフレーム {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.基本テキストフレーム {
	border-style:solid;
}
h3.hl_komidashi {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"02うつくし明朝体", sans-serif;
	font-size:1.385em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.889;
	margin-bottom:0;
	margin-left:23px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h3.hl_komidashi rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-size:0.444em;
}
h2.hl_midashi {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF ゴシックMB101 Pro DB", sans-serif;
	font-size:1.538em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:6px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h2.hl_midashi rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	color:#000000;
	font-size:0.45em;
}
p.main {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF ゴシックMB101 Pro R-KL", sans-serif;
	font-size:1.192em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:6px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.main rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.484em;
}
p.main_reijin {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF ゴシックMB101 Pro R-KL", sans-serif;
	font-size:1.192em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:6px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.main_reijin rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.484em;
}
p.note {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-size:0.846em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:7px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:-7px;
	text-transform:none;
	widows:1;
}
p.note rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.409em;
}
p.reigen {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF ゴシックMB101 Pro R-KL", sans-serif;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:6px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.reigen rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.5em;
}
p.脚注G {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"A-OTF 中ゴシックBBB Pro Medium", sans-serif;
	font-size:0.846em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.脚注G rt {
	-epub-ruby-position:over;
	-adobe-ruby-overhang:none;
	font-family:"A-OTF Ryumin Pro R-KL", serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:0.409em;
}
span.f_note_title, ruby.f_note_title {
	font-family:"A-OTF ゴシックMB101 Pro R", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.f_reijin, ruby.f_reijin {
	font-family:"ＤＦ平成ゴシック体Ｒ Pro-5 W3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	margin-top:79px;
}
p.ParaOverride-2 {
	margin-top:26px;
}
p.ParaOverride-3 {
	margin-top:11px;
}
p.ParaOverride-4, h2.ParaOverride-4 {
	text-align:right;
}
p.ParaOverride-5 {
	margin-top:47px;
}
p.ParaOverride-6 {
	margin-top:47px;
	text-align:left;
}
p.ParaOverride-7 {
	margin-top:170px;
	text-align:right;
}
h2.ParaOverride-8 {
	margin-top:0px;
}
h2.ParaOverride-9 {
	margin-top:3px;
}
p.ParaOverride-10 {
	text-align:left;
}
span.CharOverride-1, ruby.CharOverride-1 {
	font-family:"こぶりなゴシック Std  W3", sans-serif;
	font-size:0.875em;
	font-style:normal;
	font-weight:normal;
}
ruby.CharOverride-2, span.CharOverride-2 {
	font-size:1.1em;
}
ruby.CharOverride-3, span.CharOverride-3 {
	font-family:"こぶりなゴシック Std ", sans-serif;
	font-size:0.936em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4, ruby.CharOverride-4 {
	font-family:"こぶりなゴシック Std  W3", sans-serif;
	font-size:0.936em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	-epub-text-combine:horizontal;
	font-family:"Adobe Caslon Pro", serif;
	font-size:1.6em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	-epub-text-combine:horizontal;
}
span.CharOverride-7, ruby.CharOverride-7 {
	font-size:0.955em;
}
span.CharOverride-8, ruby.CharOverride-8 {
	color:#000000;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	-epub-text-combine:horizontal;
}
p.reigen rt._idGenRuby-1 {
	font-size:0.5em;
}
h2.hl_midashi rt._idGenRuby-2 {
	-adobe-ruby-align:center;
	font-size:0.455em;
}
ruby.f_reijin rt._idGenRuby-3 {
	font-size:0.483em;
}
p.main rt._idGenRuby-4 {
	font-size:0.483em;
}
ruby.f_reijin rt._idGenRuby-5 {
	font-size:0.414em;
}
h3.hl_komidashi rt._idGenRuby-6 {
	color:#000000;
}
ruby.f_note_main rt._idGenRuby-7 {
	font-size:0.455em;
}
p.note rt._idGenRuby-8 {
	-adobe-ruby-align:distribute-space;
	font-size:0.455em;
}
p.note rt._idGenRuby-9 {
	font-size:0.455em;
}
div._idGenStoryDirection-1 {
	-epub-writing-mode:horizontal-tb;
}
#_idContainer004 {
	display:inline-block;
	height:161px;
	width:114px;
}
#_idContainer006 {
	display:inline-block;
	height:150px;
	width:111px;
}
#_idContainer008 {
	display:inline-block;
	height:161px;
	width:128px;
}
#_idContainer010, #_idContainer011 {
	display:inline-block;
	height:139px;
	width:98px;
}
#_idContainer014 {
	display:inline-block;
	height:117px;
	width:175px;
}
#_idContainer016, #_idContainer018, #_idContainer043, #_idContainer046, #_idContainer060 {
	display:inline-block;
	height:142px;
	width:111px;
}
#_idContainer019 {
	display:inline-block;
	height:126px;
	width:189px;
}
#_idContainer023 {
	display:inline-block;
	height:141px;
	width:173px;
}
#_idContainer026 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:125.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:148.82px;
	z-index:1;
}
#_idContainer027 {
	-webkit-transform:translate(0.001px,131.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.73px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.001px,131.100px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:150.94px;
	z-index:0;
}
#_idContainer028 {
	-webkit-transform:translate(167.242px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:165.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(167.242px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:150.95px;
	z-index:1;
}
#_idContainer029 {
	-webkit-transform:translate(2.834px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:124.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.834px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:156.79px;
	z-index:1;
}
#_idContainer030 {
	-webkit-transform:translate(0.000px,128.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,128.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:161.57px;
	z-index:0;
}
#_idContainer031 {
	-webkit-transform:translate(0.000px,0.707px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:175.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.707px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:161.57px;
	z-index:0;
}
#_idContainer032 {
	display:inline-block;
	height:176px;
	position:relative;
	width:318px;
}
#_idContainer033 {
	display:inline-block;
	height:126px;
	width:162px;
}
#_idContainer034 {
	display:inline-block;
	height:125px;
	width:155px;
}
#_idContainer036 {
	display:inline-block;
	height:133px;
	width:181px;
}
#_idContainer040 {
	-webkit-transform:translate(2.746px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:137.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.746px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:126.00px;
	z-index:1;
}
#_idContainer041 {
	-webkit-transform:translate(0.000px,143.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.85px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,143.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:131.28px;
	z-index:0;
}
#_idContainer042 {
	display:inline-block;
	height:180px;
	position:relative;
	width:131px;
}
#_idContainer045 {
	display:inline-block;
	height:138px;
	width:97px;
}
#_idContainer049 {
	display:inline-block;
	height:145px;
	width:114px;
}
#_idContainer053 {
	display:inline-block;
	height:123px;
	width:191px;
}
#_idContainer056 {
	display:inline-block;
	height:138px;
	width:156px;
}
#_idContainer058 {
	display:inline-block;
	height:141px;
	width:111px;
}
#_idContainer064 {
	display:inline-block;
	height:152px;
	width:184px;
}
#_idContainer065 {
	display:inline-block;
	height:152px;
	width:98px;
}
#_idContainer068 {
	display:inline-block;
	height:148px;
	width:99px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-height:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
