@import "standard.css";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	writing-mode:vertical-rl;
	-epub-writing-mode:vertical-rl;
	-webkit-writing-mode:vertical-rl;
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
h1.hl_shodai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:2.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.5em;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:1.5em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.shofukudai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.846em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:2.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
h2.hl_midashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.846em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:2.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-2.0em;
}
h3.hl_komidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.385em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:2.3em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
h3.hl_komidashi-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.385em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:2.3em;
	text-align:justify;
	text-decoration:none;
	text-indent:-0.5em;
}
h4.hl_kokomidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:2.3em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
h2.hl_introduction_title {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.5em;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:2.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
p.introduction {
	-adobe-ruby-overhang:none;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:1.0em;
}
p.introduction-first-up {
	-adobe-ruby-overhang:none;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0.5em;
}
p.toc_tobira {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.308em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_shodai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:2.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_shofukudai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.846em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:4.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_midashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:4.3em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_komidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:7.4em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_komidashi-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:7.4em;
	text-align:justify;
	text-decoration:none;
	text-indent:-0.5em;
}
p.toc_kokomidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:9.5em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.reigen {
	-adobe-ruby-overhang:none;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:3.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:1.0em;
}
p.reigen-first-up {
	-adobe-ruby-overhang:none;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:3.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.5em;
}
p.jinbutsu {
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:1.3em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
p.jinbutsu_main {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:1.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
p.jinbutsu_shitsumon {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:7.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-5.7em;
}
p.jinbutsu_shitsumon2 {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:7.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
p.main {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:1em;
}
p.main-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0.5em;
}
p.main_reijin {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}

p.main_reijin1 {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
p.kanren_title {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:1.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-0.5em;
}
p.kanren_main {
	-adobe-ruby-overhang:none;
	font-size:1.231em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:2.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-0.5em;
}
p.kanren_main_noup {
	-adobe-ruby-overhang:none;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:1.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
span.f_reijin {
	font-style:normal;
	font-weight:bold;
}
span.colophon_subtitle {
	font-size:0.709em;
	font-style:normal;
	font-weight:normal;
}
div.reigen {
	padding:0 20% 0 0;
}
p.note {
	-adobe-ruby-overhang:none;
	-epub-ruby-position:over;
	font-size:0.846em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0px;
	margin-left:1.3em;
	margin-right:1.3em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
span.f_note_title {
	font-style:normal;
	font-weight:bold;
}
div.nakatobira {
	padding-right:40%;
}



/*ここから下は必要に応じて使う

p.para-style-override- {
	text-align:right;
}
p.para-style-override- {
	text-indent:0.5em;
}
span.char-style-override-, ruby.char-style-override- {
	text-decoration:underline;
}
span.char-style-override- {
	-epub-text-emphasis-style:dot;
	text-emphasis-style:dot;
}
*/

/*オーバーライド　下付け*/
p.ParaOverride-1 {
	text-align:right;
}

p.para-style-override-2{
	margin-top:11.0em;
	text-indent:0em;
}

/*オーバーライド　下付け*/





