@import "standard.css";

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
body {
	-epub-writing-mode:horizontal-tb;
	-webkit-writing-mode:horizontal-tb;
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
/*目次関連*/

p.title {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.toc_tobira {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1em;
	margin-right:0px;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.toc_shodai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_shofukudai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.08em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1em;
	margin-right:0px;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}

p.toc_mokuji {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}

p.toc_midashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}



p.toc_komidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.05em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1em;
	margin-right:0px;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.toc_komidashi-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.05em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:1em;
	margin-left:0px;
	margin-right:0px;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-0.5em;
}
p.toc_kokomidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:0.9em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}


/*main*/
h1.hl_shodai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.7em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0.3em;
	margin-right:0.0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.shofukudai {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.4em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}
h2.hl_midashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.15em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}



h2.hl_midashi_ten {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.15em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}

h3.hl_komidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}

h3.hl_komidashi-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:1em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-0.5em;
}
h4.hl_kokomidashi {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
h2.hl_introduction_title {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.5em;
	margin-bottom:0px;
	margin-left:1em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}

p.main {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:1.0em;
}
p.main-first-up {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0.5em;
}
p.main_ten {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0.0em;
}


p.main_sage {
	-adobe-ruby-overhang:none;
	-epub-line-break:normal;
	-epub-ruby-position:over;
	font-size:1.0em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.75em;
	margin-bottom:0px;
	margin-left:2em;
	margin-right:0px;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
}



span.f_bold {
	font-style:normal;
	font-weight:bold;
}



/*ここから下は必要に応じて使う
p.center_s {
	text-align:center;
}
span.char-style-override-, ruby.char-style-override- {
	text-decoration:overline;
}
span.char-style-override- {
	-epub-text-emphasis-style:dot;
	text-emphasis-style:dot;
}
p.para-style-override-1 {
	text-align:right;
}
*/

/*　KOBOで効かないので極力使わない
    ページブレイク

h2._idGenParaOverride-20 {
page-break-before:always;
}
div._idGenParaOverride-20 {
page-break-before:always;
}
p._idGenParaOverride-20 {
page-break-before:always;
}
*/


