@charset "utf-8";
a {
	text-decoration: none;
/*	border-right:1px solid;*/
	text-decoration:underline;
}
body.tate-tobira-center-body {
	margin:0;
	padding:0;
	-epub-writing-mode:horizontal-tb;
	-webkit-writing-mode:horizontal-tb;
	writing-mode:horizontal-tb;
}
div.tate-tobira-center {
	margin-left:auto;
	margin-right:auto;
	writing-mode:vertical-rl;
	-epub-writing-mode:vertical-rl;
	-webkit-writing-mode:vertical-rl;
}
.put-bottom {
	text-align:right;
}
.put-top {
	text-align:left;
}
.put-right {
	text-align:right;
}
.put-center {
	text-align:center;
}
div.tate-img-100-no-float {
	height:100%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-100-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-80-no-float {
	height:80%;
	padding-top:10%;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-80-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-80-no-float-top {
	height:80%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-80-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-70-no-float-top {
	height:70%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-70-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-60-no-float-top {
	height:60%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-60-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-50-no-float-top {
	height:50%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-50-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-40-no-float-top {
	height:40%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-40-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-30-no-float-top {
	height:30%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-30-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-20-no-float-top {
	height:20%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-20-no-float-top a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-80-no-float {
	height:80%;
	padding-top:10%;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-80-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-70-no-float {
	height:70%;
	padding-top:15%;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-70-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-60-no-float {
	height:60%;
	padding-top:20%;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-60-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-50-no-float {
	height:50%;
	padding-top:25%;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-50-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-40-no-float {
	height:40%;
	padding-top:30%;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-40-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-30-no-float {
	height:30%;
	padding-top:35%;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-30-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-20-no-float {
	height:20%;
	padding-top:40%;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.tate-img-20-no-float a {
	text-decoration: none;
	border-right:0px solid;
}
div.tate-img-top-60 {
	display:inline;
	height:60%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0.5em;
	padding-left:0.5em;
}
div.tate-img-top-60 :after {
	content:""; 
	display:block; 
}
div.tate-img-top-50 {
	display:inline;
	height:50%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0.5em;
	padding-left:0.5em;
}
div.tate-img-top-50 :after {
	content:""; 
	display:block; 
}
div.tate-img-top-40 {
	display:inline;
	height:40%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0.5em;
	padding-left:0.5em;
}
div.tate-img-top-40 :after {
	content:""; 
	display:block; 
}
div.tate-img-top-30 {
	display:inline;
	height:30%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0.5em;
	padding-left:0.5em;
}
div.tate-img-top-30 :after {
	content:""; 
	display:block; 
}
div.tate-img-top-20 {
	display:inline;
	height:20%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0.5em;
	padding-left:0.5em;
}
div.tate-img-top-20 :after {
	content:""; 
	display:block; 
}
div.tate-img-top-10 {
	display:inline;
	height:10%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0.5em;
	padding-left:0.5em;
}
div.tate-img-top-10 :after {
	content:""; 
	display:block; 
}
div.tate-img-bottom-70 {
	display:inline;
	height:70%;
	padding-top:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0.5em;
}
div.tate-img-bottom-70 :after {
	content:""; 
	display:block; 
}
div.tate-img-bottom-60 {
	display:inline;
	height:60%;
	padding-top:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0.5em;
}
div.tate-img-bottom-60 :after {
	content:""; 
	display:block; 
}
div.tate-img-bottom-50 {
	display:inline;
	height:50%;
	padding-top:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0.5em;
}
div.tate-img-bottom-50 :after {
	content:""; 
	display:block; 
}
div.tate-img-bottom-40 {
	display:inline;
	height:40%;
	padding-top:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0.5em;
}
div.tate-img-bottom-40 :after {
	content:""; 
	display:block; 
}
div.tate-img-bottom-30 {
	display:inline;
	height:30%;
	padding-top:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0.5em;
}
div.tate-img-bottom-30 :after {
	content:""; 
	display:block; 
}
div.tate-img-bottom-20 {
	display:inline;
	height:20%;
	padding-top:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0.5em;
}
div.tate-img-bottom-20 :after {
	content:""; 
	display:block; 
}
div.tate-img-bottom-10 {
	display:inline;
	height:10%;
	padding-top:0.5em;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0.5em;
}
div.tate-img-bottom-10 :after {
	content:""; 
	display:block; 
}
.yoko_img-right-70 {
	width:70%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0.5em;
}
.yoko_img-right-70 :after {
	content:""; 
	display:block; 
}
.yoko_img-right-60 {
	width:60%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0.5em;
}
.yoko_img-right-60 :after {
	content:""; 
	display:block; 
}
.yoko_img-right-50 {
	clear:both;
	float:right;
	width:50%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0.5em;
}
.yoko_img-right-50 :after {
	content:""; 
	display:block; 
}
.yoko_img-right-40 {
	clear:both;
	float:right;
	width:40%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0.5em;
}
.yoko_img-right-40 :after {
	content:""; 
	display:block; 
}
.yoko_img-right-30 {
	width:30%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0.5em;
}
.yoko_img-right-30 :after {
	content:""; 
	display:block; 
}
.yoko_img-right-20 {
	width:20%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0.5em;
}
.yoko_img-right-20 :after {
	content:""; 
	display:block; 
}
.yoko_img-left-70 {
	width:70%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0;
}
.yoko_img-left-70 :after {
	content:""; 
	display:block; 
}
.yoko_img-left-60 {
	width:60%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0;
}
.yoko_img-left-60 :after {
	content:""; 
	display:block; 
}
.yoko_img-left-50 {
	width:50%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0;
}
.yoko_img-left-50 :after {
	content:""; 
	display:block; 
}
.yoko_img-left-40 {
	width:40%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0;
}
.yoko_img-left-40 :after {
	content:""; 
	display:block; 
}
.yoko_img-left-30 {
	width:30%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0;
}
.yoko_img-left-30 :after {
	content:""; 
	display:block; 
}
.yoko_img-left-20 {
	width:20%;
	padding-top:0;
	padding-right:0.5em;
	padding-bottom:0;
	padding-left:0;
}
.yoko_img-left-20 :after {
	content:""; 
	display:block; 
}
div.yoko_img-center {
	text-align:center;
	margin-top:1em;
	margin-bottom:0;
}

.yoko_img-100 {
	display:inline;
	width:100%;
}
.yoko_img-90 {
	display:inline;
	width:90%;
}
.yoko_img-80 {
	display:inline;
	width:80%;
}
.yoko_img-70 {
	display:inline;
	width:70%;
}
.yoko_img-60 {
	display:inline;
	width:60%;
}
.yoko_img-50 {
	display:inline;
	width:50%;
}
.yoko_img-40 {
	display:inline;
	width:40%;
}
.yoko_img-30 {
	display:inline;
	width:30%;
}
.yoko_img-20 {
	display:inline;
	width:20%;
}

p.hanyo-main-sage {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:1em;
}
p.hanyo-main-ten {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
p.hanyo-main-ten-narrow {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.title-author-txt {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.75;
	margin-top:0;
	margin-right:0;
	margin-bottom:1em;
	margin-left:0;
	text-align:right;
	text-indent:0em;
}

.author-title {
	font-size:0.9em;
	font-weight:bold;
}
.author-name {
	font-size:1.2em;
	font-weight:bold;
}
.author-name-kana {
	font-size:0.8em;
	font-weight:normal;
}
.author-body {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
}
.colophon-title {
	font-size:1.1em;
	font-weight:bold;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-sub-title {
	font-size:0.9em;
	font-weight:normal;
}
.colophon-date {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:1.0em;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-author,
.colophon-publisher,
.colophon-company {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-address {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:4em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-credit {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:2.5em;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-jasrac {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-original {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:2.0em;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-body-small {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
p.yoko_hanyo-main-sage {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:1em;
}
p.yoko_hanyo-main-ten {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
p.yoko_hanyo-main-ten-narrow {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_title-author-txt {
	font-size:1.0em;
	font-weight:bold;
	line-height:1.5;
	margin-top:0;
	margin-right:1em;
	margin-bottom:0;
	margin-left:0;
	text-align:right;
	text-indent:0em;
}
.yoko_toc-title {
	font-size:1.2em;
	font-weight:bold;
	line-height:1.5;
	margin-top:1em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:center;
	text-indent:0em;
}
.yoko_toc-h2-txt {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:1em;
	text-align:justify;
	text-indent:0em;
}
.yoko_toc-h2-txt-down {
	font-size:1.1em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:2em;
	text-align:justify;
	text-indent:0em;
}
.yoko_toc-h3-txt {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:2em;
	text-align:justify;
	text-indent:0em;
}
.yoko_author-title {
	font-size:0.9em;
	font-weight:bold;
}
.yoko_author-name {
	font-size:1.2em;
	font-weight:bold;
}
.yoko_author-name-kana {
	font-size:0.8em;
	font-weight:normal;
}
.yoko_author-body {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
}
.yoko_colophon-title {
	font-size:1.1em;
	font-weight:bold;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-sub-title {
	font-size:0.9em;
	font-weight:normal;
}
.yoko_colophon-date {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:1.0em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-author,
.yoko_colophon-publisher,
.yoko_colophon-company {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-address {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:4em;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-credit {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:2.5em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.yoko_colophon-original {
	font-size:1.0em;
	font-weight:normal;
	line-height:1.5;
	margin-top:2.0em;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.colophon-body-small {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	text-align:justify;
	text-indent:0em;
}
.tcy {
	-webkit-text-combine: horizontal;
}
td.cell-bottom {
	vertical-align:bottom;
}
td.cell-top {
	vertical-align:top;
}
td.cell-left {
	vertical-align:left;
}
td.cell-right {
	vertical-align:right;
}
.yoko_start_2em {
	padding-left:2em;
}
.yoko_start_3em {
	padding-left:3em;
}
.yoko_start_4em {
	padding-left:4em;
}
.yoko_start_5em {
	padding-left:5em;
}
.yoko_start_6em {
	padding-left:6em;
}
.yoko_start_7em {
	padding-left:7em;
}
.yoko_indent_2em {
	padding-left:2em;
	text-indent:-1em;
}
.yoko_indent_3em {
	padding-left:3em;
	text-indent:-1em;
}
.yoko_indent_4em {
	padding-left:4em;
	text-indent:-1em;
}
.yoko_indent_5em {
	padding-left:5em;
	text-indent:-1em;
}
.yoko_indent_6em {
	padding-left:6em;
	text-indent:-1em;
}
hr {
	border-style: solid;
	border-width: 1px;
}
.little-size {
	font-size: 0.8em;	
}
.explanatory {
	font-size: 0.9em;
	line-height: 1.2;
}
.emphasis {
	font-size: 1.2em;
	font-weight: bold;
}
.blank-line-1 {
	margin-bottom: 1em;
}
span.f_bold {
	font-weight:bold;
}
.annotation {
	font-size: 0.9em;
	line-height: 1.5;
}
.em-accent {
	-webkit-text-emphasis-style: filled sesame;
}
.em-disk {
	-webkit-text-emphasis-style: filled dot;
}
img.gaiji {
	height:1em;
	width:1em;
	display:inline;
}
img.gaiji-han {
	width: 0.5em;
	height: 1em;
	display: inline;
}
img.gaiji-text-bottom {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:text-bottom;
}
img.gaiji-text-top {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:text-top;
}
img.gaiji-middle {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:middle;
}
img.gaiji-baseline {
	height:1em;
	width:1em;
	display:inline-block;
	vertical-align:baseline;
}

/*画像100％表示*/
.fit{
	display:inline-block;
	page-break-inside:avoid;
	max-height:100%;
	max-width:100%;
	vertical-align:baseline;
	}	